{% include "header.twig" %}

{% block content %}
<link href="../css/admin/appearance/blog.css" rel="stylesheet" >

<div class="blog-container">
    <button class="btn-new">Create New Blog Post</button>

    <table class="blog-table">
        <thead>
            <tr>
                <th>Blog Picture</th>
                <th>Blog Name</th>
                <th>Release Date</th>
                <th>Actions</th>  {# New column for Delete button #}
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                <td>
                    {% if blog.image_base64 %}
                        <img src="data:image/jpeg;base64,{{ blog.image_base64 }}" alt="Blog Image" width="100">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ blog.name }}</td>
                <td>{{ blog.release_date }}</td>
                <td>
                    <form method="POST" onsubmit="return confirm('Are you sure you want to delete this blog?');">
                        <input type="hidden" name="blog_id" value="{{ blog.id }}">
                        <button type="submit" name="delete" class="delete-btn">🗑 Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <form action="blog.php" method="POST" enctype="multipart/form-data" class="blog-form">
        <label>Blog Picture</label>
        <input type="file" name="blog_picture" accept="image/*">
        <p class="recommend-size">800 x 450px are recommended sizes</p>

        <label>Blog Name</label>
        <input type="text" name="blog_name" required>

        <label>Blog Content</label>
        <textarea id="blog_content" name="blog_content"></textarea>


        <div class="blog-actions">
            <button type="submit" name="publish" class="btn-publish">Publish Blog</button>
            <a href="index.php" class="btn-back">Back</a>
        </div>
    </form>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#blog_content'))
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}